<include file="Layout:header"/>
<div class="container-fluid-full">
	<div class="row-fluid">
		<div class="login-box">
			<h2>用户登录:</h2>
			<form class="form-horizontal login" name="login" action="#" method="post">
				<fieldset>
					<input class="input-large span12" name="username" id="username" type="text" placeholder="用户名" required="true" rangelength="[2,20]" />
					<input class="input-large span12" name="password" id="password" type="password" placeholder="密码" required="true" rangelength="[6,15]" />
					<div class="clearfix"></div>
					<button type="submit" class="btn btn-primary span12">登录</button>
				</fieldset>	
			</form>	
		</div>
	</div>	
</div>
<script type="text/javascript">
	$(function(){
		// 登录验证
		$('.login').submit(function(){
			// 验证通过
			if ($(this).validate().form())
			{
				var intLoad = layer.load();
				// ajax请求登录
				$.ajax({
					"url": "{:U('Index/login')}",
					"type": "POST",
					"data": $(this).serialize(),
					"dataType": "json"
				}).always(function(){
					layer.close(intLoad);
				}).done(function(json) {
					layer.tips(json.msg, ".btn-primary", {tips: [3, (json.status == 1 ? "#78BA32" : "")], time:1000});
					if (json.status == 1) window.location.href = "{:U('index/index')}";
				}).fail(function(){
					layer.msg("服务器繁忙，请稍候再试...", {time:800})
				});
			}

			return false;
		});
	});
</script>
</body>
</html>